In [ ]:
!pip install dnspython
!pip install pymongo

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.1)
Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (4.0.1)

In [ ]:
import pymongo
import json

In [ ]:
#import json file into the Mongodb

In [ ]:
con = pymongo.MongoClient("mongodb://siva:abcdefgh@cluster0-shard-00-00.n6mca.mongodb.net:27017,cluster0-shard-00-01.n6mca.mongodb.net:27017,cluster0-shard-00-02.n6mca.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-5osfnb-shard-0&authSource=admin&retryWrites=true&w=majority")
db = con["DB_std"]
col = db["students"]

In [ ]:
data = []
with open("/content/students (1).json") as f:
  data = [json.loads(s) for s in f]

In [ ]:
for i in range(len(data)):
  col.insert_one(data[i])

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#finding the student who scored max mark(exam,quiz,homewrk)

In [ ]:
a = col.aggregate([{"$unwind":"$scores"},{"$group":{"_id":"$_id","name":{"$first":"name"},"maxi_sco":{"$sum":"$score.score"}}}])
max = 0
for i in a:
  if i["maxi_sco"]>max:
    max = i["maxi_sco"]
    name = i["name"]
   
    print(name,max)

In [ ]:
#finding the total avg of the  exam,quiz and homework and then store into separate collection

In [ ]:
b = db["avg_tot"]

In [ ]:
c = col.aggregate([{"$unwind":"$scores"},{"$group":{"_id":{"type":"$scores.type"},"total:":{"$sum":"$scores.score"},"average:":{"$avg"."$scores.score"}}}])
for i in c:
  print(i)
  b.insert_one(i)

SyntaxError: ignored

In [ ]:
# students who scored below avg students pass mark is 40%

In [ ]:
col = db["below_avg"]

In [ ]:
f = col.aggregate([{"$unwind":"$scores"},{"$group":{"_id":"$_id","name":{"$first":"name"},"maxi_sco":{"$sum":"$score.score"}}},{"$addFielf":{"prcnt"}}])
for i in f:
  if i["prcnt"]>=40 and i["prcnt"]<55:
    col.insert_one()

In [ ]:
for i in col.find({},{"_id":0,"name":1,"prcnt":1}):
  print(i)

In [ ]:
#who failed in all category 
f1 = db["failed"]

In [ ]:
sf = col.aggregate([{"$unwind":"$scores"},
                   {"$group":{"_id":"$_id","name":{"$first":"$name"},"maxi_sco":{"$sum":"$scores.score"}}},
                    {"$addFields":{"prcnt":{"$divide":["$max_sco",3]}}},
                    {"$addFields":{"result":{"$cond":{"if":{"$gte":["$prcnt",40]},"then":"pass","else":"Fail"}}}}])
for i in sf:
   if i["result"]=="Fail":
     f1.insert_one(i)

In [ ]:
for i in f1.find({},{"_id":0,"name":1,"prcnt":1,"result":1}):
  print(i)

In [ ]:
# who scores passed mark in all category

In [ ]:
pa = db["passed"]

In [ ]:
sp = col.aggregate([{"$unwind":"$scores"},
                   {"$group":{"_id":"$_id","name":{"$first":"$name"},"max_sco":{"$sum":"$scores.score"}}},
                    {"$addFields":{"prcnt":{"$divide":["$max_sco",3]}}},
                    {"$addFields":{"result":{"$cond":{"if":{"$gte":["$prcnt",40]},"then":"pass","else":"Fail"}}}}])
for i in sp:
  if i["result"]=="pass":
    pa.insert_one(i)

In [ ]:
for i in pa.find({},{"_id":0,"name":1,"prcnt":1,"result":1}):
  print(i)